.section-bg-banner {
    background-image: url('https://cdn.shopify.com/s/files/1/0588/6528/7346/files/new_banner_octics.png?v=1632742770');
    background-position: left;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.site-icon{
    position: absolute;
    top: 15%;
}
.section-bg-banner h1{
    color: #fff;
    font-size: 65px;
    margin: 15px;
    text-transform: uppercase;
    text-align: center;
}
.timer-block__num{
    display: block; 
    font-family:  Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    font-size: 65px;
}
.timer-block {
    color: #FFF;
    margin: 0 20px;
    text-align: center;
}
.timer-block__unit{
    font-size: 18px;
}
.timer-display {
    display: flex;
}
.div-social {
    margin: 0 10px;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-bottom-wrap {
    display: flex;
    position: absolute;
    bottom: 5%;
}
.div-social a{
    font-size: 0;
}
.site-icon{
    display: none;
}

@media screen and (max-width: 991px){
    .section-bg-banner h1 {
        font-size: 46px;
        margin: 15px;
        text-transform: uppercase;
    }  
    .timer-block__num{
        font-size: 55px;
    }
    
}
@media screen and (max-width: 551px) {
    .section-bg-banner h1 {
        font-size: 26px;
        margin: 15px;
        text-transform: uppercase;
    }    
    .timer-block{
        margin: 0px 10px;
    }
    .timer-block__unit {
        font-size: 16px;
    }
    .timer-block__num{
        font-size: 28px;
    }
    .section-bg-banner{
        background-position: center;
    }
    .site-icon{
        display: block;
    }    
}
@media screen and (max-width: 320px){
    .section-bg-banner h1 {
        font-size: 22px;
    }    
}