<section class="customer_account">
    <div class="container">
    <div id="register" class="main_account_form">
      <div class="customer_form_img">
        <div class="customer_img_main">
            {%- assign src_name = settings.login_img -%}
            {%- assign src_alt = settings.login_img -%}
            {%- render 'srcset' with src_name:src_name,src_alt:src_alt, src_class:"img-fluid xs-slider" -%}
        </div>
      </div>
      <div class="customer_form_content">
        <div class="customer_form">
          <div class="account_heading text-center">
            <h3>Welcome,</h3>
            <p>Welcome back! Please enter your details</p>
          </div>
          {% form 'create_customer' %}
            {{ form.errors | default_errors }}

            <div class="input_group_div">
              <input id="name" type="text" name="customer[first_name]" placeholder="Enter Name" required/>
            </div>
            <div class="input_group_div">
              <input id="email" type="email" name="customer[email]" placeholder="Enter Email" required />
            </div>
            <div class="input_group_div">
              <input id="password" type="password" name="customer[password]" placeholder="Enter Password" required/>
            </div>
            <div class="input_group_div">
              <input id="password-confirmation" type="password" name="customer[password]" placeholder="confirm Password" required/>
            </div>
            <div class="button_group_div">
              <button class="button_all" type="submit">Create</button>
            </div>
            <div class="customer_form_link">
              <span>Already have an account?<a href="/account/login"> Log in here</a></span>
            </div>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</section>