<div class="customer_account">
  <div class="container">
    <div class="customer_form">
      <div class="account_heading">
      <h3>forgot Password?,</h3>
      <p>Welcome back! Please enter your details</p>
    </div>
    </div>
  </div>
</div>