<section class="about-section-title">
    <div class="container">
        <div class="section_heading text-center">
            <h3 class="font-f-heading">About US</h3>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "about-us page",
    "settings": []
}
{% endschema %}