<div id="wishlist-temp" class="wishlist-content-wrap">
    <div class="pb-3 text-center section-heading-wrap">
        <h1 class="section-title">Wishlist</h1>
        <!-- <img src="{{ 'section-underline.png' | file_img_url: 'original' }}" alt="heading underline" class="img-fluid section-underline"> -->
    </div>

    <div class="mian-wishlist-wrap">
        <div class="custom-container">
            <div class="row">
                <div class="col-lg-12 col-12 wishlist_items_main">
                    <ul class="wishlist-items-ul d-flex">
                        <li class="first-col">
                            Product
                        </li>
                        <li class="second-col">
                            Price
                        </li>
                    </ul>
                    <div class="wishlist-items-wrap">
                        <!-- <div class="text-center">
                            <span class="empty-msg">there is no item in wishlist</span><br>
                            <span class="empty-msg">add item you want to shop</span>
                        </div> -->
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>