<div class="tab-header-wrap">
    <div class="tab-header-inner">
        <!-- <div id="emptyProgressbar"></div> -->
        <!-- <ul class="progree-ul p-0">
            <li id="stepLable1" class="progree-li activeStep"></li>
            <li id="stepLable2" class="progree-li"></li>
            <li id="stepLable3" class="progree-li"></li>
            <li id="stepLable4" class="progree-li"></li>
        </ul> -->
        <ul class="tab-header-ul">
            <li class="tab-header-li step-1 active" data-step="1">
                <div class="step_text text-center">
                    <span class="point"></span>
                    <p class="num">STEP-1</p>
                    <div class="text">
                        <span>Pick a box design</span>
                    </div>
                </div>
            </li>
            <li class="tab-header-li step-2" data-step="2">
                <div class="step_text text-center">
                    <span class="point"></span>
                    <p class="num">STEP-2</p>
                    <div class="text">
                        <span>Select Gifts</span>
                    </div>
                </div>
            </li>
            <li class="tab-header-li step-3" data-step="3">
                <div class="step_text text-center">
                    <span class="point"></span>
                    <p class="num">STEP-3</p>
                    <div class="text">
                        <span>Pick a card</span>
                    </div>
                </div>
            </li>
            <li class="tab-header-li step-4" data-step="4">
                <div class="step_text text-center">
                    <span class="point"></span>
                    <p class="num">STEP-4</p>
                    <div class="text">
                        <span>Done!</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>