<div class="step-4-inner">
    <div class="container">
        <div class="step-title text-center">
            <p class="step-info">Done!</p>
            <h4 class="step-heading">{{ section.settings.step_4_title }}</h4>
            <p class="step-desc">{{ section.settings.step_4_desc }}</p>
        </div>
        <div class="step-content-wrap text-center">
            <div class="box-complete-img ">
                <img src="{{ 'gift-4.png' | file_img_url: 'original' }}" alt="complete">
            </div>
            <div class="step-btn-wrap">
                <button class="step-view-cart">View Cart</button>
            </div>
        </div>
    </div>
</div>