<div id="offer_side_banner" class="side_offer_banner_cls">
    <div class="offer_side_arrow"></div>
    <p class="offer_side_txt">Get your offer</p>
</div>

<div class="side-main-banner" id="full-side-banner">
    <span class="side-main-banner-close">
        {% render 'icon-close' %}
    </span>
    <img src="https://cdn.shopify.com/s/files/1/0588/6528/7346/files/Group_5068.png?v=1646048041" alt="" class="img-fluid">
</div>